<form action="/register/processRegister/" method="post">
    <h2>Sign Up</h2>
    <div>
        <div class="ui labeled input">
            <div class="ui label">
                Email
            </div>
            <input name="Email" type="text" placeholder="Email" required>
        </div>
        <br><br>
        <div class="ui labeled input">
            <div class="ui label">
                Password
            </div>
            <input name="Password" type="text" placeholder="Password" required>
        </div>
        <br><br>
        <div class="ui labeled input">
            <div class="ui label">
                Full Name
            </div>
            <input name="FullName" type="text" placeholder="Full Name" required>
        </div>
        <br><br>
        <div class="ui labeled input">
            <div class="ui label">
                Address
            </div>
            <input name="Address" type="text" placeholder="Address" required>
        </div>
        <br><br>
        <div class="ui labeled input">
            <div class="ui label">
                Phone
            </div>
            <input name="Phone" type="text" placeholder="Phone" required>
        </div>
        <br>
    </div>
    <br>
    <div class="ui buttons">
        <button class="ui positive button">Register</button>
    </div>
</form>
