<form action="/users/{{ .Id }}/save/" method="post">
    <div class="ui segments">
        <table class="ui very basic table">
            <tbody>
            <tr>
                <td class="right aligned"><strong>FullName:</strong></td>
                <td>
                    <div class="ui left corner labeled input">
                        <input name="FullName" type="text" placeholder="FullName" value="{{ .FullName }}" required>
                        <div class="ui left corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="right aligned"><strong>Address:</strong></td>
                <td>
                    <div class="ui left corner labeled input">
                        <input name="Address" type="text" placeholder="Address" value="{{ .Address }}" required>
                        <div class="ui left corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="right aligned"><strong>Phone:</strong></td>
                <td>
                    <div class="ui left corner labeled input">
                        <input name="Phone" type="text" placeholder="Phone" value="{{ .Phone }}" required>
                        <div class="ui left corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ui buttons">
        <a href="/users/" class="ui button">Cancel</a>
        <div class="or"></div>
        <button class="ui positive button">Save</button>
    </div>
</form>
