<div class="ui celled list">
    {{range .Data}}
    <div class="item">
        <div class="right floated content">
            {{ if not .IsActive }} <span class="ui red tag label">Inactive</span> {{ end }}
        </div>
        <i class="big user icon"></i>
        <div class="content">
            <div class="header"><a href="/users/{{ .Id }}/view/">{{.FullName}}</a></div>
            {{.Address}}
        </div>
    </div>
    {{end}}
</div>
