<div class="right floated content">
    <a href="/users/{{ .Id }}/edit/" class="ui button">Edit</a>
</div>
<div class="ui segments">

    <div class="ui segment center aligned">
        <h1 class="center aligned">{{ .FullName }}</h1>
    </div>

    <table class="ui very basic table">
        <tbody>
        <tr>
            <td class="right aligned"><strong>Id:</strong></td>
            <td>{{ .Id }}</td>
        </tr>
        <tr>
            <td class="right aligned"><strong>Address:</strong></td>
            <td>{{ .Address }}</td>
        </tr>
        <tr>
            <td class="right aligned"><strong>Phone:</strong></td>
            <td>{{ .Phone }}</td>
        </tr>
        </tbody>
    </table>
</div>