From: {{.From}}
To: {{.To}}
Subject: {{.Subject}}
MIME-version: 1.0
Content-Type: text/html; charset="UTF-8"

Your activation link: <a href="{{ .Domain }}/register/activate/{{ .Hash }}/">{{ .Domain }}/register/activate/{{ .Hash }}/</a>